<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">Jerry</ion-label>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="time_div">
      <ion-label class="time_lbl">Today, 05:15 PM</ion-label>
    </div>

    <div class="messages_div">
      <div *ngFor="let item of all_messages">
        <div class="left" *ngIf="item.side == 'left'">
          <div class="profile_div">
            <div class="user_image" [style.backgroundImage] = "'url(assets/imgs/user.jpg)'"></div>
          </div>
          <div class="left_msg">
            <div class="left_msg_div">
              {{item.message}}
            </div>
          </div>
        </div>

        <div class="right"  *ngIf="item.side == 'right'">
          <div class="right_msg">
            <div class="right_msg_div">
              {{item.message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="send_message_div">
      <img src="assets/imgs/camera.png" class="camera">
      <ion-input type="text" placeholder="Write Something...">
        <ion-icon name="send" class="send_icn" slot="end"></ion-icon>
      </ion-input>
    </div>
  </ion-toolbar>
</ion-footer>
