<ion-footer>
  <ion-toolbar>
    <div class="main_tab_div">
      <div class="tab_inner">
        <div class="single_tab" (click)="goTo(1)">
          <img src="assets/tabs_imgs/home_active.png" class="tab_img" *ngIf="tabId == 1">
          <img src="assets/tabs_imgs/home_gray.png" class="tab_img" *ngIf="tabId != 1">
          <ion-label class="lbl" [class.red_lbl]="tabId == 1">Restaurants</ion-label>
        </div>

        <div class="single_tab" (click)="goTo(2)">
          <img src="assets/tabs_imgs/tag_active.png" class="tab_img" *ngIf="tabId == 2">
          <img src="assets/tabs_imgs/tag_gray.png" class="tab_img" *ngIf="tabId != 2">
          <ion-label class="lbl" [class.red_lbl]="tabId == 2">Offers</ion-label>
        </div>

        <div class="single_tab" (click)="goTo(3)">
          <img src="assets/tabs_imgs/user_active.png" class="tab_img" *ngIf="tabId == 3">
          <img src="assets/tabs_imgs/user_gray.png" class="tab_img" *ngIf="tabId != 3">
          <ion-label class="lbl" [class.red_lbl]="tabId == 3">Accounts</ion-label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>