<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">Settings</ion-label>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="question_div">
      <div class="list_div" (click)="goToUserProfile()">
        <ion-label>Chat Notification</ion-label>
        <ion-toggle></ion-toggle>
      </div>

      <div class="list_div" (click)="goToPaymentMethod()">
        <ion-label>Order Notification</ion-label>
        <ion-toggle></ion-toggle>

      </div>

      <div class="list_div" (click)="goToOrderHistory()">
        <ion-label>Tracking Notification</ion-label>
        <ion-toggle></ion-toggle>
      </div>
    </div>
  </div>
</ion-content>
