<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">Support</ion-label>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">

    <!-- <div class="header_div">
      <img src="assets/imgs/back2.png" style="width: 20px;" class="btn_back" (click)="goBack()">
      <ion-label class="round_lbl">Support</ion-label>
    </div> -->

      <ion-searchbar animated="true" mode="ios" placeholder="Search for help" (ionChange)="onSearchChange($event)" [debounce]="250" class="search_bar"></ion-searchbar>
      
      <div class="content_div">
        <div class="live_chat_div">
          <div class="first_div">
            <ion-label class="head_lbl">Live chat with <br>our Support</ion-label>
            <ion-button class="chat_btn" shape="round" size="small" (click)="goToChat()">Start</ion-button>
          </div>
          <div class="second_div">
            <img class="chat_img" src="assets/imgs/live.png">
          </div>
        </div>

        <div class="question_div">
          <ion-label class="head_lbl">Frequently Asked Questions</ion-label>

          <div class="list_div" *ngFor="let item of [1,2,3,4,5]">
            <ion-label>My order didn't delivered</ion-label>
            <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
          </div>

        </div>

        <div class="question_div">
          <ion-label class="head_lbl">Payment Methods</ion-label>

          <div class="list_div" *ngFor="let item of [1,2,3]">
            <ion-label>How do I change my payment method</ion-label>
            <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
          </div>

        </div>

      </div>

  </div>

</ion-content>