<ion-content scroll-y="false">
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    <img src="assets/imgs/back2.png" class="back_arrow" (click)="goBack()">
    <div class="content_div">
      <ion-label class="head_lbl">Forgot Password</ion-label>

      <ion-label class="small_lbl">Please enter your email to receive a link to create new password via email</ion-label>

      <div class="div_form">
        <ion-input type="text" class="ip" placeholder="Email"></ion-input>
      </div>

      <ion-button (click)="goToHome()" expand="full" shape="round" class="red_btn">
        Send
      </ion-button>
    </div>
  </div>
</ion-content>
