<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">My Order</ion-label>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
<!-- 
    <div class="header_div">
      <img src="assets/imgs/back2.png" style="width: 20px;" class="btn_back" (click)="goBack()">
      <ion-label class="round_lbl">My Order</ion-label>
    </div> -->

    <div *ngIf="have_product">
      <div class="product_div">
        <div class="image_div" [style.backgroundImage]="'url(assets/imgs/image2.jpg)'"></div>
        <div class="desc_div">
          <ion-label class="heading_lbl">Really Cool Burgers</ion-label>
          <ion-label class="small_lbl">Burger - Western Food - $$</ion-label>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-label class="red_lbl"><span class="red_lbl">4.9</span> (124 rating)</ion-label><br>
          <ion-icon name="pin" class="rating"></ion-icon>
          <ion-label class="small_lbl2">123 Rock Street, New York City</ion-label>
        </div>
      </div>

      <div class="product_list">
        <div class="list_item" *ngFor="let item of [1,2,3,4]">
          <ion-label>Classic Cheese Burger X 1</ion-label>
          <ion-label class="price">$16</ion-label>
        </div>

        <div class="list_item" style="border-bottom: none;">
          <ion-label class="red_lbl">Add More Foods</ion-label>
        </div>
      </div>

      <div class="delivery_div">
        <div class="list_item">
          <ion-label>Delivery Instuction</ion-label>
          <ion-label class="red_lbl">Add Notes +</ion-label>
        </div>

        <div class="list_item">
          <ion-label>Sub Total</ion-label>
          <ion-label class="price">$64.00</ion-label>
        </div>

        <div class="list_item">
          <ion-label>Delivery Cost</ion-label>
          <ion-label class="price">Free</ion-label>
        </div>

      </div>

      <ion-button (click)="goToCheckout()" expand="full" shape="round" class="red_btn">Check Out</ion-button>

    </div>

    <div *ngIf="!have_product" class="empty_cart">
      <img src="assets/imgs/cart.png" alt="">
      <ion-label class="heading_lbl">Your Basket is empty</ion-label>
      <ion-label class="small_lbl">Make your basket happy and <br> add foods to it</ion-label>
    </div>

  </div>
</ion-content>