<ion-content scroll-y="false">
  <div class="main_content_div">
   

    <div class="slider_div">
      <ion-slides mode="ios" pager="ios">
        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/electrocardiograma.png">
            <ion-label class="head_lbl">ICARES</ion-label>
            <ion-label class="small_lbl">Toma de Exámenes</ion-label>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="bottom_btn_div">
      <ion-button (click)="irExamen()" expand="full" shape="round" class="red_btn">
        Enviar Nuevo Exámen
      </ion-button>

      
    </div>

  </div>
</ion-content>
