<ion-content>
  <div class="main_content_div">
    <div class="upper_div" [class.ios_test]="plt == 'ios'">
      <img src="assets/imgs/back_btn.png" style="width: 20px;" (click)="goBack()">
      <img src="assets/imgs/burger.png" class="scooter">
      <ion-label class="round_lbl">20 - 30 mins</ion-label>
    </div>
    <div class="lower_div">
      <div class="heading_div">
        <ion-label class="heading_lbl">Really Cool <br> Burgers</ion-label>
        <!-- <ion-icon name="heart-empty" mode="md" class="heart"></ion-icon> -->
        <ion-icon name="heart-outline" mode="md" class="heart"></ion-icon>
      </div>

      <div class="rating_div">
        <ion-icon name="star" class="rating"></ion-icon>
        <ion-label class="small_lbl"><span class="red_lbl">4.9 </span>(124 rating)</ion-label>
        <ion-label class="small_lbl top_item">Burger - western food - $$</ion-label>
      </div>

      <div class="rating_div">
        <ion-icon name="pin"></ion-icon>
        <ion-label class="small_lbl top_item">123 Rock street, New York City</ion-label>
      </div>

      <div class="slider_div">
        <ion-label class="heading_lbl">Popular Choices</ion-label>
        <ion-slides [options]="slideOpts">

          <ion-slide>
            <div class="slide_div">
              <div class="img_back">
                <img src="assets/imgs/burger1.jpg" class="slider_img">
              </div>
              <div>
                <ion-label class="slider_lbl">American Beef Burgers</ion-label>
                <ion-label class="slider_lbl">$16</ion-label>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide_div">
              <div class="img_back">
                <img src="assets/imgs/burger1.jpg" class="slider_img">
              </div>
              <div>
                <ion-label class="slider_lbl">American Beef Burgers</ion-label>
                <ion-label class="slider_lbl">$16</ion-label>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide_div">
              <div class="img_back">
                <img src="assets/imgs/burger1.jpg" class="slider_img">
              </div>
              <div>
                <ion-label class="slider_lbl">American Beef Burgers</ion-label>
                <ion-label class="slider_lbl">$16</ion-label>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide_div">
              <div class="img_back">
                <img src="assets/imgs/burger1.jpg" class="slider_img">
              </div>
              <div>
                <ion-label class="slider_lbl">American Beef Burgers</ion-label>
                <ion-label class="slider_lbl">$16</ion-label>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="card_div">
        <ion-label class="heading_lbl">Burgers</ion-label>
        <div class="card" *ngFor="let item of [1,2,3]">
          <div class="desc_div">
            <ion-label class="product_name">Classic Cheese Burger</ion-label>
            <ion-label class="addons">Beef, cheese, onion , tomato, jam, pickes</ion-label>
          </div>
          <div class="price_div">
            <ion-label class="price">$16</ion-label>
            <ion-label class="popular">
              <ion-icon name="star"></ion-icon>Popular
            </ion-label>
          </div>
        </div>
      </div>

      <div class="card_div">
        <ion-label class="heading_lbl">Snacks</ion-label>
        <div class="card" *ngFor="let item of [1,2,3]">
          <div class="desc_div">
            <ion-label class="product_name">Classic Cheese Burger</ion-label>
            <ion-label class="addons">Beef, cheese, onion , tomato, jam, pickes</ion-label>
          </div>
          <div class="price_div">
            <ion-label class="price">$16</ion-label>
            <ion-label class="popular">
              <ion-icon name="star"></ion-icon>Popular
            </ion-label>
          </div>
        </div>
      </div>

      <ion-button (click)="goToHome()" expand="full" shape="round" class="red_btn">
        Add to Basket
      </ion-button>

    </div>
  </div>
</ion-content>