<ion-content>
  <div class="main_content_div">
    <div class="upper_div" [class.ios_test]="plt == 'ios'" [style.backgroundImage]="'url(assets/imgs/burger_main.jpg)'">
      <img src="assets/imgs/back_btn.png" style="width: 20px;" (click)="goBack()">
      <!-- <img src="assets/imgs/burger_main.jpg" class="scooter"> -->
      <ion-label class="round_lbl">Burgers</ion-label>
    </div>
    <div class="lower_div">
      <div class="heading_div">
        <ion-label>128 Restaurants</ion-label>
        <img src="assets/imgs/menu2.png" (click)="goToFilter()" style="width: 20px;">
      </div>

      <div class="card" *ngFor="let item of [1,2,3,4]" (click)="goToProduct()">
        <div class="image_div" [style.backgroundImage]="'url(assets/imgs/image2.jpg)'"></div>
        <div class="desc_div">
          <ion-label class="heading_lbl">Super Good Cafe</ion-label>
          <ion-label class="small_lbl">Cafe - Western Food - $$</ion-label>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-label class="red_lbl"><span class="red_lbl">4.9</span> (124 rating)</ion-label>
          <!-- <ion-icon name="heart-empty" ></ion-icon> -->
          <ion-icon name="heart-outline" mode="md" class="heart"></ion-icon>
          <ion-button class="offer_btn" shape="round" size="small" *ngIf="item == 1">Offer
          </ion-button>
        </div>
      </div>

      <ion-button (click)="goToMyOrder()" expand="full" shape="round" class="red_btn">
        Add to Basket
      </ion-button>

    </div>
  </div>
</ion-content>