<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">Track Your Order</ion-label>

      <ion-buttons class="chat_lbl">
        <ion-button (click)="goToChat()">
          <ion-label class="red_lbl">Chat <ion-icon name="chatbubbles" class="red_chat"></ion-icon></ion-label>
        </ion-button>
      </ion-buttons>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    
    <!-- <div class="header_div">
      <img src="assets/imgs/back2.png" style="width: 20px;" class="btn_back" (click)="goBack()">
      <ion-label>Track Your Order</ion-label>
      <ion-label class="chat_lbl">Chat <ion-icon name="chatbubbles" class="red_chat"></ion-icon></ion-label>
    </div> -->

    <ion-label class="delivery_lbl">Estimate Delivery Time</ion-label>
    <ion-label class="red_bold">05:30 PM</ion-label>

    <div class="user_rating">
      <div class="left_div">
        <img src="assets/imgs/user.jpg" class="user_image">
        <div class="inner_div">
          <ion-label class="small_lbl">Your Rider</ion-label>
          <ion-label class="bold_lbl">Jason Stroll</ion-label>
        </div>
      </div>

      <div class="right_div">
        <ion-label class="red_lbl"><ion-icon name="star"></ion-icon> 4.9</ion-label>
        <ion-label class="small_lbl">(124 Ratings)</ion-label>
      </div>  
    </div>

    <div class="tracking_div">
      
      <div class="left">
        <span *ngFor="let item of order_detail">
          <div class="line_div" [class.line_div_darkgray]="item.status == 1"></div>
          <div class="round_div_gray" [class.round_div_red]="item.status == 2" [class.round_div_darkgray]="item.status == 1"></div>
        </span>
      </div>
      
      <div class="right">
        <span *ngFor="let item of order_detail">
          <div class="line_div"></div>
          <div class="round_div_gray" [class.round_div_red]="item.status == 2" [class.round_div_darkgray]="item.status == 1">
            {{item.value}}
          </div>
        </span>
      </div>

    </div>

    <ion-button expand="full" shape="round" class="red_btn">Cancel Your Order</ion-button>

  </div>
</ion-content>
