<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    
    <div class="profile_div">
      <div class="first">
        <div class="user_image" [style.backgroundImage] = "'url(assets/imgs/user.jpg)'"></div>
      </div>
      <div class="second">
        <ion-label class="bold_lbl">Kelly Chan</ion-label>
        <ion-label class="small_lbl">kelly@gmail.com</ion-label>
      </div>
    </div>

    <div class="question_div">
      <div class="list_div" (click)="goToUserProfile()">
        <ion-label>Profile</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToPaymentMethod()">
        <ion-label>Payment Method</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToOrderHistory()">
        <ion-label>Order History</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToAddressBook()">
        <ion-label>Delivery Address</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToSettings()">
        <ion-label>Settings</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToAbout()">
        <ion-label>About us</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>

      <div class="list_div" (click)="goToSupport()">
        <ion-label>Support Center</ion-label>
        <img src="assets/imgs/next.png" slot="end" style="width: 10px;">
      </div>
    </div>

  </div>
</ion-content>
<app-customtabs></app-customtabs>