/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Custom Fonts

@font-face {
    font-family: open-sans;
    src: url(assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: open-bold;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-regular;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

ion-modal.modalorder {
    .modal-wrapper{
        width: 100% !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &.bottom {
        align-items: flex-end !important;
    }

    --height: 70vh;
}

.sc-ion-modal-ios-h{
    align-items: flex-end;
}
.sc-ion-modal-md-h{
    align-items: flex-end;
}


body {
    background-color: #ffffff;
    color: #000000; /* Ajustar el color del texto si es necesario */
    --background: #ffffff;
  }
  
  /* Asegurarse de que las páginas de Ionic tengan un fondo blanco */
  ion-content {
    --background: #ffffff;
  }

  
  
  /* Ajuste específico para inputs y textareas */
  ion-input, ion-textarea {
    --background: #ffffff;
    --color: #000000;
  }
  
  /* Asegurarse de que las etiquetas tengan el color correcto */
  ion-label {
    --color: #000000;
  }

  /* Establece el fondo blanco globalmente para los ion-item */
ion-item {
    --ion-item-background: #ffffff; /* Fondo blanco */
    --ion-background-color: #ffffff; /* Fondo de elementos hijos, si aplica */
    --ion-item-color: #000000; /* Texto negro */
  }