<ion-header>
  <ion-toolbar>
    <div class="header_div">
      
      <ion-buttons slot="start" class="btn_back">
        <ion-button (click)="goBack()">
          <img src="assets/imgs/back2.png">
        </ion-button>
      </ion-buttons>
      <ion-label class="title">Filter</ion-label>

      <ion-buttons class="chat_lbl">
        <ion-button (click)="goToChat()">
          <ion-label class="red_lbl">Reset</ion-label>
        </ion-button>
      </ion-buttons>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    
    <!-- <div class="header_div">
      <img src="assets/imgs/back2.png" style="width: 20px;" class="btn_back" (click)="goBack()">
      <ion-label>Filter</ion-label>
      <ion-label class="chat_lbl">Reset</ion-label>
    </div> -->

    <div class="question_div">
      <ion-label class="head_lbl">Sort By</ion-label>
      <div class="list_div" *ngFor="let item of filters; let i = index" (click)="click_filter(i)">
        <ion-label [class.red_lbl]="i == id">{{item}}</ion-label>
        <img *ngIf="i == id" src="assets/imgs/true.png" slot="end" style="width: 15px;">
      </div>
    </div>

    <div class="question_div">
      <ion-label class="head_lbl">Cuisines</ion-label>
      <div class="chips">
        <div class="chip_item" *ngFor="let item of foods; let i = index" [class.chip_item_active]="i == id_cuisines" (click)="click_filter_cuisines(i)">{{item}}</div>
      </div>
    </div>

    <div class="question_div">
      <ion-label class="head_lbl">Price</ion-label>
      <div class="list_div">
        <ion-label>$00.00</ion-label>
        <ion-label>$100.00</ion-label>
      </div>
      <ion-range dualKnobs="true" min="0" max="100" mode="ios"></ion-range>
    </div>

    <ion-button (click)="ApplyFilter()" expand="full" shape="round" class="red_btn">Apply</ion-button>

  </div>

</ion-content>
