<ion-content>
  <div class="main_content_div">
    <div class="upper_div" [class.ios_test]="plt == 'ios'">
      <ion-label class="heading_lbl">Latest Offres</ion-label>
      <ion-label class="small_lbl">Find discount, offres, <br>specoals meals amd more !</ion-label>
      <ion-label class="round_lbl">20 Restaurants</ion-label>
      <img src="assets/imgs/scooter.png" class="scooter">
    </div>
    <div class="lower_div">
      <div class="card_div">
        <div class="card" *ngFor="let item of [1,2,3]">
          <div class="back_image" [style.backgroundImage]="'url(assets/imgs/image1.jpg)'" (click)="openMenu()">
            <ion-label class="time_lbl">Free chips</ion-label>
          </div>
          <ion-label class="heading_lbl" (click)="openMenu()">Hollywood Starz Cafe</ion-label>
          <div class="price_rating" (click)="openMenu()">
            <ion-icon name="star" class="rating"></ion-icon>
            <ion-label class="red_lbl">4.9 (124 ratings)</ion-label>
            <ion-label class="small_lbl">Cafe - Western Food - $$</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-customtabs></app-customtabs>